node_modules
.DS_Store
dist
dist-ssr
dist.zip
dist.tar
dist.war
.nitro
.output
*-dist.zip
*-dist.tar
*-dist.war
coverage
*.local
**/.vitepress/cache
.cache
.turbo
.temp
dev-dist
.stylelintcache
yarn.lock
package-lock.json
.VSCodeCounter
**/backend-mock/data
.omx
# local env files
.env.local
.env.*.local
.eslintcache

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
vite.config.mts.*
vite.config.mjs.*
vite.config.js.*
vite.config.ts.*

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history
.cursor

# AI
.agent
.agents
.claude
.codex
skills-lock.json
.atomcode
datalog
web-antdv-next
backend-mock
.changeset/.prettierrc.json
.changeset/config.json
.changeset/fancy-ears-walk.md
.changeset/README.md
.github/CODEOWNERS
.github/commit-convention.md
.github/config.yml
.github/contributing.md
.github/dependabot.yml
.github/pull_request_template.md
.github/release-drafter.yml
.github/semantic.yml
.github/ISSUE_TEMPLATE/bug-report.yml
.github/ISSUE_TEMPLATE/docs.yml
.github/ISSUE_TEMPLATE/feature-request.yml
.github/actions/setup-node/action.yml
.github/workflows/build.yml
.github/workflows/changeset-version.yml
.github/workflows/ci.yml
.github/workflows/codeql.yml
.github/workflows/deploy.yml
.github/workflows/draft.yml
.github/workflows/issue-close-require.yml
.github/workflows/issue-labeled.yml
.github/workflows/lock.yml
.github/workflows/release-tag.yml
.github/workflows/rerun.yml
.github/workflows/semantic-pull-request.yml
.github/workflows/stale.yml
.vscode/extensions.json
.vscode/global.code-snippets
.vscode/launch.json
.vscode/settings.json
